<div class="container">
    <h1>Employees</h1>


    <form [formGroup]="frm" (ngSubmit)="findEmployee()">
        <label> Họ tên </label><br>
        <input type="text" #employee_name placeholder="Họ và tên" formControlName="employee_name" class="form-control"
            (input)="filterName(employee_name.value)"><br>

        <label> Tiền lương </label><br>
        <input type="text" #employee_salary placeholder="Tiền lương" formControlName="employee_salary" class="form-control"
            (input)="filterSalary(employee_salary.value)"><br>

        <label> Tuổi </label><br>
        <input type="text" #employee_age placeholder="Tuổi" formControlName="employee_age" class="form-control"
            (input)="filterAge(employee_age.value)"><br>

        <button type="reset" class="btn btn-info" (click)="getAllEmployees()"> Đặt lại </button>

    </form>
    <table class="table table-bordered" *ngIf="show; else showLoading">
        <tr>
            <td> ID </td>
            <td> Tên </td>
            <td> Tiền Lương </td>
            <td> Tuổi </td>
            <td> Ảnh đại diện </td>
            <td> Thao tác </td>
        </tr>
        <tr *ngFor="let e of filteredItems">
            <td>{{ e.id }}</td>
            <td><a routerLink="employee/update/{{ e.id }}">{{ e.employee_name }}</a></td>
            <td>{{ e.employee_salary }}</td>
            <td>{{ e.employee_age }}</td>
            <td>{{ e.profile_image }}</td>
            <td>
                <button class="btn btn-danger " (click)="deleteEmployee(e.id)">Delete</button>
            </td>
        </tr>
    </table>


    <ng-template #showLoading>
        Loading...
    </ng-template>
</div>