<div class="container">
    <h1>Employees</h1>

    <form [formGroup]="frm" (ngSubmit)="findEmployee()">
        <label>Họ tên </label><br>
        <input type="text" placeholder="Họ và tên" formControlName="employee_name" class="form-control"><br>
        <label>Tiền lương </label><br>
        <input type="text" placeholder="Tiền lương" formControlName="employee_salary" class="form-control"><br>
        <label>Tuổi </label><br>
        <input type="text" placeholder="Tuổi" formControlName="employee_age" class="form-control"><br>

        <button type="submit" class="btn btn-primary"> Tìm kiếm </button>
        <button type="reset" class="btn btn-info" (click)="getAllEmployees()"> Đặt lại </button>

    </form>
    <table class="table table-bordered" *ngIf="show; else showLoading">
        <tr>
            <td> ID </td>
            <td> Tên </td>
            <td> Tiền Lương </td>
            <td> Tuổi </td>
            <td> Ảnh đại diện </td>
            <td> Thao tác </td>
        </tr>
        <tr *ngFor="let e of employees">
            <td>{{ e.id }}</td>
            <td><a routerLink="employee/update/{{ e.id }}">{{ e.employee_name }}</a></td>
            <td>{{ e.employee_salary }}</td>
            <td>{{ e.employee_age }}</td>
            <td>{{ e.profile_image }}</td>

            <td>
                <button class="btn btn-danger " (click)="deleteEmployee(e.id)">Delete</button>
            </td>
        </tr>
    </table>


    <ng-template #showLoading>
        Loading...
    </ng-template>
</div>